@import "./variables.scss";

.home{
    height: 85vh;
    
    
    .layer{
        max-width: 1140px;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        border: 10px solid $primary;
        border-radius: 300px 0  300px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .hero{
            font-size: 40px;
            font-weight: 300;
            text-transform: capitalize;
            color: $primary;
        }
        .subhero{
            text-transform: uppercase;
            color : $secondary;
            font-size: 16px;
            margin: 20px auto 40px auto;
            font-weight: 300;
        }

        .btn{
            font-family: inherit;
            padding: 20px 80px;
            font-size: 20px;
            color: inherit;
            outline: none;
            border: none;
            border-radius: 13px;
            border: 3px solid $primary;
            background-color: transparent;
            transition:  all .3s ease;
            cursor: pointer;
            text-transform: uppercase;

            &:hover{
                background-color: $primary;
            }
        }

        @media only screen and(max-width:760px){
            border-radius: 0;
            padding: 0 15px;
            text-align: center;
        }

        @media only screen and(max-width:480px){
            
            .hero{ font-size: 30px; }
            .subhero{ font-size: 13px;}
            .btn{
                padding: 10px 40px;
                font-size: 10px;
            }
            
        }

        @media only screen and(max-width:360px){
            
            .hero{ font-size: 25px; }
            .subhero{ font-size: 10px;}
            .btn{
                padding: 8px 30px;
                font-size: 8px;
            }
            
        }
    }
}