@import "./variables.scss";

.header {
  width: 100%;
  height: 80px;
  background-color: $white;
  // box-shadow: 1px 2px 2px rgba(0,0,0,.2);

  .nav {
    max-width: 1140px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .navbox {
      display: flex;
      height: 100%;
      align-items: flex-end;
      overflow: hidden;

      .navitem {
        list-style: none;
        padding: 20px;
        cursor: pointer;
        border-radius: 0 40px 0 40px;
        transition: all 0.3s ease-out;

        a {
          padding: 20px;
          color: $black;
        }
        p {
          color: $black;
        }
      }

      @media only screen and(max-width:700px) {
        position: absolute;
        top: 80px;
        right: -50px;
        opacity: 0;
        visibility: hidden;
        height: 88vh;
        background: $primary;
        width: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: all 0.3s ease;
        z-index: 10;

        .navitem {
          border-radius: 0;
          padding: 10px 20px;
          margin-bottom: 10px;
          width: 100%;

          &:hover {
            background-color: rgba($secondary, 0.1);
          }
        }
      }
    }

    .menu {
      margin-right: 20px;
      display: none;
      height: 25px;
      width: 25px;
      cursor: pointer;
      svg {
        height: 100%;
        width: 100%;
        fill: $secondary;
      }

      @media only screen and(max-width:700px) {
        display: inline-block;
      }
    }

    .shownav {
      right: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}
